<div class = "footer-space"></div>
<footer class='footer'>
  <p><strong>Jim Davis, Ph.D. MIT, 2000 </strong></p>
  <p><i>Dept. of Computer Science and Engineering, The Ohio State University</i></p>
  <p>Office: 614-292-1553, Lab: 614-292-5137, Fax: 614-292-2911</p>
  <span>Email:</span><%= link_to ' jwdaviscse.ohio-state.edu', 'mailto:jwdaviscse.ohio-state.edu' %> <span>  Website:</span>
  <%= link_to 'http://www.cse.ohio-state.edu/~jwdavis', 'http://www.cse.ohio-state.edu/~jwdavis' %>
  <p>491 Dreese Laboratories, 2015 Neil Avenue, Columbus OH, 43210</p>
</footer>
