<div class="all">

<div class="nav">
  <a href="./people.html">PEOPLE</a>
  <a href="./publications.html">PUBLICATIONS</a>
  <a href="./teaching.html">TEACHING</a>
  <a href="./media.html">MEDIA</a>
  <a href="./index.html">HOME</a>
</div>
<a href="./index.html"><img src="images/logo.JPG" alt="OSU logo" height=100 width=150></a>
<div class="decor">
  <h2>Jim Davis <span style="font-size:15px"><em>Ph.D. MIT, 2000</em></span></h2>
  <p><em>Dept. of Computer Science and Engineering</em></p>
</div>
</div>
<hr />
