---
title: James W. Davis: People
---

<!-- Written on 06/17/2019 by Trevor Shirey -->
<!-- Updated on 06/21/2019 by Trevor Shirey -->

<div class="people">

<h1><B>People</B></h1>



<!-- Beginning of students section -->
<h3><B>Current Students</B></h3>

<UL>

<LI><u>Joe Barker</u>, Ph.D. student</LI>

<LI><u>Tong Liang</u>, Ph.D. student</LI>

<LI><u>Ash Radhakrishnan</u>, M.S. student</LI>

<LI><u>Sam Lerner</u>, B.S./M.S. student</LI>

<LI><u>Jamie Cunningham</u>, B.S./M.S. student</LI>

<LI><u>James Enouen</u>, B.S. student</LI>

</UL>


<!-- Beginning of Alumni section -->
<h3><B>Alumni</B></h3>


<UL>

<LI><u>Chris Menart</u>, M.S. student</LI>

<LI><u>Debanjan Nandi</u>, M.S. student</LI>

<LI><u>Mo Akbar</u>, B.S./M.S. student</LI>

<LI><u>Josh Sandvick</u>, B.S/M.S. student</LI>

<LI><u>Brett Whitford</u>, B.S. student</LI>

<LI><u>Chuhan Feng</u>, B.S. student</LI>

<LI><u>Rohith Savaram</u>M.S. project, May 2016 (now at Expedia)</LI>

<LI><u>Dan Marchese</u>Undergraduate Honors Thesis: "A Framework for Using Custom Features to ColorizeGrayscale Images", May 2016 (Now at Amazon)</LI>

<LI><u>Manjari Akella</u>M.S. Project, May 2015 (Now at IBM) </LI>

<LI><u>Jeremy Ledonne</u>Undergraduate research assistant. Graduated 2015.</LI>

<LI><u>Daniya Zamalieva</u>Ph.D. Thesis: "Transformational Models for Background Subtraction with Moving Cameras", September 2014. (Now at Google)</LI>

<LI><u>Ryan Niemocienski</u>Undergraduate research assistant, 2013-2014</LI>

<LI><u>Kyle Salberg</u>Undergraduate research assistant. Graduated June 2012. (Now at Garmin)</LI>

<LI><u>Michael Schoenberg</u>Undergraduate research assistant. Graduated June 2012. (Now at Microsoft)</LI>

<LI><u>Ronak Buch</u>Undergraduate research assistant. Graduated June 2012. (Now at UIUC)</LI>

<LI><u>Kevin Streib</u>Ph.D. Thesis: "Improved Graph-based Clustering with Applications in Computer Vision and Behavior Analysis", March 2012. (and Post-Doc with Davis)</LI>

<LI><u>Karthik Sankaranarayanan</u>Ph.D. Thesis: "Multiple Instance Learning for Localization and Tracking of Persistent Targets", August 2011. (Now at IBM India)</LI>

<LI><u>Ryan Feather</u>MS Thesis: "Tracking and Activity Analysis in Wide Area Aerial Surveillance Video", August 2011.</LI>

<LI><u>Matt Nedrich</u>MS Thesis: "Detecting Behavioral Zones in Local and Global Camera Views", June 2011. (Now at Intel)</LI>

<LI><u>Mark Keck</u>Ph.D. Thesis: "Occlusion Recovery and Reasoning for 3D Surveillance", August 2009. (Now at BAE)</LI>

<LI><u>Karl Salva</u>Undergraduate research assistant. Graduated March 2009. (Now at Numerica)</LI>

<LI><U>Ambrish Tyagi</U>Ph.D. Thesis: "Layered Tracker Switching for Visual Surveillance", August 2008. (Now at STI - Omron Scientific Technologies)</LI>

<LI><U>Vinay Sharma</U>Ph.D. Thesis: "Simultaneous Object Detection and Segmentation usingTop-down and Bottom-up Processing", November 2007. (Now at Texas Instruments)</LI>

<LI><U>Hui Gao</U>Ph.D. Thesis: "Extracting Key Features for Analysis and Recognition in Computer Vision", February 2006. (Now at Microsoft)</LI>

<LI><U>Alex Morison</U>MS Thesis: "An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring", August 2006. (Now at OSU/AFRL)</LI>

<LI><U>Vignesh Kannappan</U>MS Thesis: "Automatic Temporal Segmentation ofHuman Actions", June 2003. (Now at Microsoft)</LI>

<LI><U>Stephanie Taylor</U>MS Thesis: "Computer Analysis and Recognition of Walking Movements", June 2002.</LI>

<LI><U>Robin Tan</U>Undergraduate Honors Thesis: "Human-Content Video Coding", March 2002.</LI>
</UL>

</div>

<br/>

